/*Table of Contents:
1. Main Document
2. Top Navigation Bar
3. Active Elements
*/

/*Main Document*/
body {
    background-color: hsl(210, 30%, 70%);
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}
div.main {
    background-color: hsl(210, 40%, 55%);
    outline-style: groove;
    outline-color: invert;
    outline-width: .4cm;
    align-content: center;
    text-align: center;
    width: 50%;
    padding: 15px 30px;
    border-width: 4px;
    border-style: solid;
    border-color: white;
    margin: 20px;
    display: table-cell;
    vertical-align: middle;
}
div.main p {
    margin: auto;
}
h1 {
    background-color: hsl(248, 53%, 65%);
    width: 90%;
    padding: 10px;
    border-style: solid dotted;
    border-color: maroon;
    border-radius: 15px;
    margin: 20px 10px;
}
h1, h2, h3, h4, h5, h6, li {
    font-family: 'Times New Roman', Times, serif !important;

}
p {
    background-color: aquamarine;
    border-width: 4px;
    border-style: dashed solid;
    border-color: hsl(110, 90%, 40%);
    color: brown;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    max-width: 600px;
    margin: 20px;
    padding: 15px 30px;
    width: 50%;
}
table {
    border: 1px solid black;
    border-collapse: collapse;
    border-spacing: 5px;
}
td, th {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}
ul#tableofcontents {
    background-color: hsl(270, 50, 50);
    padding: 5px;
    overflow: hidden;
    display: block;
}
ul#tableofcontents li {
    background-color: hsl(90, 30, 50);
    padding: 5px;
    overflow: hidden;
    display: block;
}
#hiContent {
    outline-style: groove;
    outline-color: invert;
    outline-width: .4cm;
    align-content: center;
    text-align: center;
}
#breadTable {
    width: 100%;
}

/* Top Navigation Bar */
ul#topbar {
    background-color: hsl(0, 100%, 8%);
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    max-width: 450px;
}
ul#topbar li {
    border: 1px white groove;
    display: inline-block;
    color: chartreuse;
    text-align: center;
    padding: 16px 0px;
    text-decoration: none
}
ul#topbar li:hover {
    background: white;
    color: black;
}
ul#topbar li a {
    padding: 16px;
    height: 100%;
    width: 100%;
}

/* Active Elements */
a:link {
    color: hsl(0, 70%, 30%);
    text-decoration: none;
}
a:visited {
    color: hsl(240, 70%, 30%);
    text-decoration: none;
}
a:hover {
    color: white;
    text-decoration: underline;
}
a:active {
    background-color: white;
}
a.nav {
    text-decoration: none;
    color: inherit;
}
.pip {
    border: 4px inset crimson;
    height: 300px;
    width: 300px;
}
::selection {
    color: hsl(200, 80%, 60%);
    background: yellow;
}